
@media (max-width: 1850px)
 .partners
  &-wrapper
   grid-template-columns: repeat(3, auto)
   width: auto
@media (max-width: 980px)
 h1
  text-align: center
  font-size: 48px
  line-height: 52.8px
 h2
  font-size: 40px
  line-height: 44px
  text-align: center
  margin-bottom: 48px

 p
  text-align: center
  font-size: 16px
  line-height: 20.8px


 .title 
  font-size: 24px
  line-height: 26.4px

 .button 
  width: 100%
  text-align: center
 .header 
  .logo 
   width: 60px
   height: auto
  .nav 
   display: none
 .main
  height: auto
  padding-top: 32px
  &-wrapper
   grid-template-columns: 1fr 
   width: 100%
   gap: 0
  &-video 
   width: 100%
   max-width: 480px
   order: -1
   margin: auto
  &-info
   width: 100%
   margin: auto
 .about 
  padding-top: 60px 
  padding-bottom: 100px
  h2 
   margin-bottom: 40px
  &-video 
   margin-bottom: 24px
 .tokenomics
  padding-top: 80px
  padding-bottom: 200px
  &-wrapper
   padding: 60px 16px
 .roadmap 
  padding-top: 0
  padding-bottom: 80px
  h2
   margin-bottom: 20px
  &-wrapper 
   grid-template-columns: 1fr
   gap: 0
  &-video 
   height: auto
   margin-bottom: -20px
  &-info 
   width: 100%
   text-align: center
  &-item 
   margin-bottom: 20px
   &:last-of-type
    margin-bottom: 0
 .partners
  padding-top: 62px
  padding-bottom: 80px
  &-wrapper 
   grid-template-columns: repeat(2, 1fr)
   gap: 32px
   margin-bottom: 60px
@media (max-width: 680px)
 .button
  &-group 
   width: 100%
   grid-template-columns: 1fr

 .roadmap 
  &-video 
   width: 100%
   height: auto
 .partners
  &-wrapper 
   grid-template-columns: 1fr
   gap: 12px
   margin-bottom: 60px
 .line-light
  height: 208px
  width: auto 
  object-fit: cover
@media (max-width: 480px)
